.pacientes-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Estilo común para todos los botones */
button,
.btn-agregar,
.btn-estudio {
    padding: 10px 20px;
    background-color: #007bff; /* Fondo azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
.btn-agregar:hover,
.btn-estudio:hover {
    background-color: #0056b3; /* Fondo azul más oscuro al pasar el ratón */
}

/* Personalización para los botones de Agregar Consulta y Agregar Estudio */
.btn-estudio {
    background-color: #28a745; /* Fondo verde */
}

.btn-estudio:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}

.formulario-paciente {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.formulario-paciente input,
.formulario-paciente select,
.formulario-paciente button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formulario-paciente button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario-paciente button:hover {
    background-color: #0056b3;
}

.lista-pacientes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.paciente-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    text-align: center;
}

.paciente-card h2 {
    margin-bottom: 10px;
    color: #007bff;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #0056b3;
}